<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheSwitcher_TiagoCoelho.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E5E96402A09988B00A80FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E5E96502A09988C00A80FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E5E965A2A09988C00A80FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
